<container>
  <h1>Coffee Name: <%= coffeeDescription.name %></h1>
  <p>Read about the different drink andhow there made!</p>
  <form action="/coffees/<%= coffeeDescription.id %>" method="POST">
    <input
      hidden
      type="text"
      name="name"
      value="<%= coffeeDescription.name %>"
    />
    <button class="btn btn-light" type="submit">Favorite this Coffee</button>
  </form>
</container>
<hr />

<div>
  <h4>Description:</h4>
  <p><%= coffeeDescription.description %></p>
  <h4>Process:</h4>
  <p><%= coffeeDescription.process %></p>
</div>

<hr />
<div>
  <h4>Tell us how you made it...</h4>
  <small>Add a comment</small>
  <form method="POST" action="/coffees/<%= coffeeDescription.id %>/comments">
    <label hidden for="name">Your Name</label>
    <input type="text" name="name" value="<%= currentUser.name %>" >
    <label for="content">Comment:</label>
    <input type="text" name="content" >
    <input type="submit">
  </form>
</div>


  <% comments.forEach(comment => { %>
    <p>
      <%= comment.content %>
      <br>
      <small>-<%= comment.name %></small>
    </p>
  <%}) %>
